@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Oswald-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/Oswald-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/Oswald-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Material-Symbols-Outlined.woff2') format('woff2');
}
