#app {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% высоты экрана */
  margin: 0px auto;
  max-width: 460px;
  width: 100%;
  padding: 16px;
}
.content {
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
