.form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;

  // .form-control__label
  &__label {
    font-weight: 500;
  }

  // .form-control__description
  &__description {
    color: #bbb;
    font-size: 13px;
  }
}
