.inc-exp {
  width: 100%;
  display: flex;
  padding: 20px 0;
  background-color: #fff;
  margin-bottom: 16px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);

  // .inc-exp__item
  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &:first-child {
      border-right: 1px solid #bbb;
    }
  }

  // .inc-exp__title
  &__title {
    text-transform: uppercase;
    font-size: 20px;
    @media (max-width: 720px) {
      font-size: 18px;
    }
  }

  // .inc-exp__value
  &__value {
    &--income {
      color: #2ecc71;
    }

    &--expense {
      color: #c0392b;
    }
  }
}
