.transactions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  // .transactions__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .transactions__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  // .transactions__list-date
  &__list-date {
    padding-bottom: 8px;
    border-bottom: 1px solid #bbb;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }
}
